<div id="vlcd_container">
<textarea readonly id="vlcdarea" data-bind="text: vlcd_text" rows=4 columns=30 >
Not Connected
</textarea>
<div id="buttons">
 <div class="buttonrow">
   <button class="vlcdbutton" data-bind="click: bup100">-100</button> 
   <button class="vlcdbutton" data-bind="click: bup10">-10</button>
   <button class="vlcdbutton" data-bind="click: bup1">-1</button >
   <button class="vlcdbutton" data-bind="click: bclk">C</button>
 </div>
 <div class="buttonrow">
   <button class="vlcdbutton" data-bind="click: bdn100">+100</button>
   <button class="vlcdbutton" data-bind="click: bdn10">+10</button>
   <button class="vlcdbutton" data-bind="click: bdn1">+1</button>
   <button class="vlcdbutton" data-bind="click: brefresh">R</button>
 </div>
</div>
</div>
